.popup {
  background-color: white;
  position: relative;
  border-bottom: solid 3px #f7d600;
}

.popup-logo {
  background: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

.popup-logo img {
  width: 200px;
}

.popup-menu {
  background-image: linear-gradient(
    90deg,
    hsl(52deg 100% 48%) 2%,
    hsl(42deg 6% 53%) 78%,
    hsl(303deg 35% 39%) 91%,
    hsl(358deg 80% 50%) 100%
  );
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.popup-menu-button {
  background: none;
  padding: 0;
  border: none;
}

.popup-menu-button img {
  width: 50px;
  height: 50px;
}

.popup-list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 250px;
  overflow: auto;
}

.popup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0 2px 16px;
}

.popup-item:nth-child(3n+1) {
  background-color: #f5f4d7;
}

.popup-item:nth-child(3n+2) {
  background-color: #f0f8ff;
}

.popup-item:nth-child(3n) {
  background-color: #f0c2c2;
}

.popup-button-group {
  display: flex;
  flex-wrap: nowrap;
}
